* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column; 
}

h1 {
    font-size: 50px;
    margin-bottom: 40px;
}

div {
    background-color: #e0e0e0;
    border: 5px solid #cfcece;
    padding: 40px 80px;
    font-size: 25px;
    line-height: 50px;
}

p {
    background-color: rgb(41, 139, 107);
    text-align: center;
    margin-top: 20px;
}
